:root {
  /* ---------------------------------- text ---------------------------------- */
  --color-primary: rgb(96, 96, 96);
  --color-primary-dark:rgba(0, 0, 0, 0)
  --color-secondary: rgb(212, 167, 98);

/* ---------------------------- background-color ---------------------------- */
  --bg-color-primary: #fff;
  --bg-color-secondary: rgb(255, 252, 248);
}
